[submodule "projects/dgsf/repo"]
	path = projects/dgsf/repo
	url = https://github.com/DataDrivenDealer/DGSF.git
[submodule "projects/dgsf/legacy/DGSF"]
	path = projects/dgsf/legacy/DGSF
	url = https://github.com/DataDrivenDealer/DGSF.git
